---
interface Experience {
  name: string;
  url: string;
  thumbnail: string;
  description: {
    es: string;
    en: string;
  };
  tech: string[];
}

const { experience } = Astro.props as { experience: Experience };
---

<article
  class="bg-main-950 bg-opacity-80 grid grid-rows-[auto,1fr] rounded-lg pb-2 shadow-2xl"
>
  <a
    href={experience.url}
    target="_blank"
    class="relative h-48 opacity-80 hover:opacity-100 transition-opacity"
  >
    <img
      class="absolute inset-0 object-cover h-full w-full rounded-t-lg"
      src={experience.thumbnail}
      alt={experience.name + " image"}
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-black to-transparent via-black/70"
    >
      <p class="absolute bottom-0 px-4 py-2 transition-opacity">
        {experience.name}
      </p>
    </div>
  </a>
  <div class="grid grid-rows-[1fr,auto] px-4">
    <p class="text-sm py-8 self-start">
      {experience.description.es}
    </p>
    <ul class="flex gap-4">
      {
        experience.tech.map((exp) => (
          <li class="flex items-center gap-2 bg-main-800 rounded-full px-4 py-2 text-xs">
            <img width="32" src={`/imgs/${exp.toLowerCase()}.png`} alt="logo" />
            <span>{exp}</span>
          </li>
        ))
      }
    </ul>
  </div>
</article>
